In [1]:
%matplotlib inline 
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

from tqdm import tqdm

import keras

from keras.models import Model, Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.applications.vgg19 import VGG19
from keras.applications.resnet50 import ResNet50
from keras.applications.inception_v3 import InceptionV3

from sklearn import preprocessing
from sklearn.model_selection import train_test_split, KFold

import cv2
import os

Using TensorFlow backend.

In [31]:
df_train = pd.read_csv('Data/labels.csv')
df_train.head()

   Unnamed: 0               id            breed
0           0    n02108551_978  Tibetan_mastiff
1           1    n02112350_223         keeshond
2           2   n02102480_4564   Sussex_spaniel
3           3  n02109525_18948    Saint_Bernard
4           4   n02096437_3195   Dandie_Dinmont

In [3]:
#df = df.groupby('domain')['ID'].nunique()
df = df_train.groupby('breed').nunique()
df = df.sort_values('id', ascending=False)
df

                             Unnamed: 0   id  breed
breed
Maltese_dog                         252  252      1
Afghan_hound                        239  239      1
Scottish_deerhound                  232  232      1
Pomeranian                          219  219      1
Samoyed                             218  218      1
Bernese_mountain_dog                218  218      1
Irish_wolfhound                     218  218      1
Shih-Tzu                            214  214      1
Great_Pyrenees                      213  213      1
Leonberg                            210  210      1
basenji                             209  209      1
Tibetan_terrier                     206  206      1
EntleBucher                         202  202      1
Airedale                            202  202      1
Sealyham_terrier                    202  202      1
Saluki                              200  200      1
pug                                 200  200      1
cairn                               197  197      1
Lakeland_terrier                    197  197      1
papillon                            196  196      1
Norwegian_elkhound                  196  196      1
chow                                196  196      1
Australian_terrier                  196  196      1
beagle                              195  195      1
Newfoundland                        195  195      1
Siberian_husky                      192  192      1
Blenheim_spaniel                    188  188      1
Ibizan_hound                        188  188      1
bloodhound                          187  187      1
whippet                             187  187      1
...                                 ...  ...    ...
Brittany_spaniel                    152  152      1
briard                              152  152      1
Chihuahua                           152  152      1
Tibetan_mastiff                     152  152      1
German_short-haired_pointer         152  152      1
Rottweiler                          152  152      1
flat-coated_retriever               152  152      1
German_shepherd                     152  152      1
toy_poodle                          151  151      1
Appenzeller                         151  151      1
borzoi                              151  151      1
Sussex_spaniel                      151  151      1
boxer                               151  151      1
curly-coated_retriever              151  151      1
otterhound                          151  151      1
Bouvier_des_Flandres                150  150      1
Irish_water_spaniel                 150  150      1
Border_collie                       150  150      1
clumber                             150  150      1
Welsh_springer_spaniel              150  150      1
malinois                            150  150      1
Doberman                            150  150      1
kuvasz                              150  150      1
Eskimo_dog                          150  150      1
groenendael                         150  150      1
golden_retriever                    150  150      1
dhole                               150  150      1
affenpinscher                       150  150      1
Pekinese                            149  149      1
redbone                             148  148      1

[120 rows x 3 columns]

In [26]:
train, test = train_test_split(df_train, test_size=0.1, random_state=1)#, stratify=y_train_raw)

In [30]:
train

                             breed
11373                   otterhound
15062                Irish_terrier
6256                    Weimaraner
15043                 Ibizan_hound
6857                 affenpinscher
18077                     Airedale
9242               standard_poodle
14125               English_setter
16166                      basenji
19630             Japanese_spaniel
15733                 bull_mastiff
6790                      Airedale
2811       black-and-tan_coonhound
14426                Saint_Bernard
17678                affenpinscher
9305          Bernese_mountain_dog
9255              Japanese_spaniel
11312    Staffordshire_bullterrier
1281           African_hunting_dog
19375                  Maltese_dog
19793                  groenendael
3435                       redbone
4814                   Maltese_dog
19445                     malamute
15591           miniature_pinscher
20042                Border_collie
3782                    otterhound
2590      Chesapeake_Bay_retriever
12314              standard_poodle
16561                 Newfoundland
...                            ...
9529              Brittany_spaniel
3606                 Saint_Bernard
19261           Bedlington_terrier
4415            Scottish_deerhound
1031               Norwich_terrier
6285                Border_terrier
1110                    Weimaraner
18272        flat-coated_retriever
11742  soft-coated_wheaten_terrier
17137              giant_schnauzer
19433             miniature_poodle
16946              German_shepherd
4764                       basenji
19946                  Maltese_dog
8444                    Rottweiler
18900                     malamute
2962              Brittany_spaniel
12645                     Pekinese
3462               Tibetan_mastiff
10989                  Appenzeller
7751        Welsh_springer_spaniel
16332        flat-coated_retriever
144                          dhole
19279              Norfolk_terrier
7813                      Pembroke
10955                Saint_Bernard
17289              Tibetan_terrier
5192                         Lhasa
12172                   bloodhound
235                    Appenzeller

[18522 rows x 1 columns]

In [33]:
df = train.groupby('breed').nunique()
df

                                breed
breed
Afghan_hound                        1
African_hunting_dog                 1
Airedale                            1
American_Staffordshire_terrier      1
Appenzeller                         1
Australian_terrier                  1
Bedlington_terrier                  1
Bernese_mountain_dog                1
Blenheim_spaniel                    1
Border_collie                       1
Border_terrier                      1
Boston_bull                         1
Bouvier_des_Flandres                1
Brabancon_griffon                   1
Brittany_spaniel                    1
Cardigan                            1
Chesapeake_Bay_retriever            1
Chihuahua                           1
Dandie_Dinmont                      1
Doberman                            1
English_foxhound                    1
English_setter                      1
English_springer                    1
EntleBucher                         1
Eskimo_dog                          1
French_bulldog                      1
German_shepherd                     1
German_short-haired_pointer         1
Gordon_setter                       1
Great_Dane                          1
...                               ...
curly-coated_retriever              1
dhole                               1
dingo                               1
flat-coated_retriever               1
giant_schnauzer                     1
golden_retriever                    1
groenendael                         1
keeshond                            1
kelpie                              1
komondor                            1
kuvasz                              1
malamute                            1
malinois                            1
miniature_pinscher                  1
miniature_poodle                    1
miniature_schnauzer                 1
otterhound                          1
papillon                            1
pug                                 1
redbone                             1
schipperke                          1
silky_terrier                       1
soft-coated_wheaten_terrier         1
standard_poodle                     1
standard_schnauzer                  1
toy_poodle                          1
toy_terrier                         1
vizsla                              1
whippet                             1
wire-haired_fox_terrier             1

[120 rows x 1 columns]

In [14]:
y_train = y_train.nunique()

AttributeError: 'int' object has no attribute 'nunique'

In [10]:
X_test.shape

(2058,)

In [ ]:
i = 0 
for _, f, breed in tqdm(df_train.values):
    file = f.split('_')[0] + '-' + breed
    path = 'Data/Images/{}/{}.jpg'.format(file,f)
    #print(path)
    img = cv2.imread(path)
    label = one_hot_labels[i]
    x_train.append(cv2.resize(img, (img_size, img_size)))
    y_train.append(label)
    i += 1

In [5]:
y_train_raw = np.array(y_train, np.uint8)
x_train_raw = np.array(x_train, np.float32) / 255

NameError: name 'y_train' is not defined